{% load static %}
<style type="text/css">
body {
    background-image: url("{% static 'img/showMovie/bg.jpg' %}");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
   .box a{
        {#color: beige;#}
        margin: 20px;
    }
    .box {
        width: 500px;
        margin: 10% auto;
        {#background-color: #fff;#}
    }
    .box h1 {
        margin: 10px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.7/dist/css/layui.css">
</head>
<body>
<div class="layui-panel box">
    <h1>修改密码</h1>
    <a href="{% url 'myauth:index' %}">回到主页</a>
    <a href="{% url 'myauth:user_center' %}">个人中心</a>
    <a href="{% url 'myauth:edit_pro' %}">编辑个人信息</a>
    <a href="{% url 'myauth:user_change_pass' %}">修改密码</a>
    <a href="{% url 'myauth:slogout' %}">登出</a>
    <form action="" method="post">
        {% csrf_token %}
        {{ changepassform.as_p }}
        <button type="submit" class="layui-btn layui-btn-fluid">提交</button>
    </form>
</div>
</body>
</html>