{% load static %}
<style type="text/css">
    body {
        background-image: url("{% static 'img/showMovie/bg.jpg' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: beige;
    }
   .box a{
        {#color: beige;#}
        margin: 20px;
    }
    .box {
        width: 400px;
        margin: 10% auto;
        {#background-color: #fff;#}
    }
    .box h1 {
        margin: 10px;
    }
        .form-box {
        margin-top: 20px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.7/dist/css/layui.css">
    <title>编辑个人信息</title>
</head>
<body>
<div class="layui-panel box">
    <h1>编辑个人信息</h1>
    <a href="{% url 'myauth:index' %}">回到主页</a>
    <a href="{% url 'myauth:user_center' %}">个人中心</a>
    <a href="{% url 'myauth:edit_pro' %}">编辑个人信息</a>
{#    <a href="{% url 'myauth:user_change_pass' %}">修改密码</a>#}
    <a href="{% url 'myauth:slogout' %}">登出</a>
    <form action="" method="post" class="form-box">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">账号：</label>
            <div class="layui-input-inline">
              <input type="text" name="username" id="id_username" maxlength="50" value="{{ user.username }}" required lay-verify="required" placeholder="50个字符或者更少" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电子邮件：</label>
            <div class="layui-input-inline">
              <input type="email" name="email" id="id_email" maxlength="50" value="{{ user.email }}" required lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称：</label>
            <div class="layui-input-inline">
              <input type="text" name="nikname" id="id_nikname" value="{{ user.commuser.nikname }}" maxlength="50" required lay-verify="required" placeholder="50个字符或者更少" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">生日：</label>
            <div class="layui-input-inline">
              <input type="date" name="birthday" id="id_birthday" value="{{ user.commuser.birthday }}" required lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="btn-submit layui-btn layui-btn-fluid">
            <button type="submit" type="button" class="layui-btn layui-btn-radius" class="layui-btn layui-btn-sm">提交注册</button>
        </div>
{#        <p><label for="id_username">用户名:</label> <input type="text" name="username" value="{{ user.username }}" maxlength="150"#}
{#                                                        required id="id_username"> <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>#}
{#        </p>#}
{#        <p><label for="id_email">电子邮件地址:</label> <input type="email" name="email" value="{{ user.email }}"#}
{#                                                        maxlength="254" id="id_email"></p>#}
{#        <p><label for="id_nikname">Nikname:</label> <input type="text" name="nikname" maxlength="50" required#}
{#                                                           id="id_nikname" value="{{ user.commuser.nikname }}"></p>#}
{#        <p><label for="id_birthday">Birthday:</label> <input type="date" name="birthday" required id="id_birthday" value="{{ user.commuser.birthday }}"></p>#}
{#        <button type="submit">提交</button>#}
    </form>
</div>
</body>
</html>